<div class="main-container">
    <div class="main-container">

        <h1>Buscando: <small>{{termino}}</small></h1>
        <hr>
        <div class="card-columns ">

            <div class="card animated fadeIn " *ngFor="let hero of heroes; let i = index">
                <img src="{{hero.img}}" class="card-img-top" alt="AquaMan">
                <div class="card-body">
                    <h5 class="card-title">{{hero.nombre}}</h5>
                    <p class="card-text">{{hero.bio}}</p>
                    <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>

                    <!--<button type="button" class="btn btn-outline-primary btn-block">Ver Mas</button> -->
                    <a [routerLink]="['/heroes']" class="btn btn-outline-primary btn-block">Regresar</a>
                </div>
            </div>

        </div>

    </div>
</div>