<h1 class="main-container animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn ">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam eveniet sit ullam sunt quis explicabo ut beatae distinctio cupiditate sint. Harum, tempora. Molestiae hic reprehenderit exercitationem corporis asperiores! Quae, aut. Animi sunt maxime velit
    fugit placeat. Necessitatibus, nemo iusto quod sunt voluptatum fugiat veniam ex, pariatur incidunt aspernsdam mollitia expedita iste est dolore dignissimos qui, praesentium maiores? Labore dolores, est aut repellat rem aa reprehenderit minus quaerat
    sequi nihil labore! Quam quia dolore illo possimus, error aperiam sunt neque, unde assumenda provident quo!
</p>